form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

input[type="text"] {
    width: 20em;
    margin: 10px;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

label {
    margin: 10px;
}

button {
    width: 100px;
    margin-left: 20px;
}